<header class="header">
  <div class="actions">
    <a class="button" (click)="showOpenDialog()">Open file</a>
  </div>
  <a class="button-link" routerLink="/about">About OmniXLF</a>
</header>

<main>
  <h1>
    OmniXLF
    <small>Simple XLIFF editing, for Windows, Linux and MacOS.</small>
  </h1>

  <h5 class="quickstart">Quickstart</h5>
  <ol>
    <li>Open an XLF file</li>
    <li>Select a translation unit from the left sidebar</li>
    <li>Enter your translation</li>
    <li>Done!</li>
  </ol>

  <app-last-files></app-last-files>
</main>


