<header class="header">
  <a routerLink="/">< Back</a>
</header>
<main>
  <h1>OmniXLF</h1>
  <p>
    Simple XLIFF editor.
  </p>

  <h2 class="powered-by">Powered by</h2>

  <p>
    Rockstardevelopers GmbH
    <a rel="_blank" href="https://rockstardevelopers.de">
      <img src="assets/rockstar.png" alt="Rockstardevelopers Logo">
    </a>
  </p>

  <h4>Developed by</h4>
  <p>
    Chris Grieger (<a href="mailto: chris.grieger@rockstardevelopers.de">chris.grieger@rockstardevelopers.de</a>)
  </p>
</main>
