:host {
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255,255,255,0.7);
  }
}
