:root {
  --color-primary: #ff4800;
  --color-grey: #aeaeae;
}

body {
  display: block;
}

html,
body {
  height: 100%;
}

main {
  margin: 20px;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: 12.5%;
  column-count: 8;

  justify-content: center;
}

footer {
  margin-top: 60px;
  padding: 2rem;
  border-top: 1px solid var(--color-grey);

  display: flex;
  justify-content: space-between;
}

.support,
.description,
.demo,
.hero {
  grid-column-start: 1;
  grid-column-end: 8;

}

.download {
  grid-column-start: 2;
  grid-column-end: 7;
}

.download .instructions {
  margin-top: 20px;
  padding: 0;
  text-align: left;
}

.support,
.demo,
.download,
.description {
  margin-top: 40px;
}

.demo img {
  max-width: 60%;
  margin: 0 auto;
}

@media (max-width: 560px) {
  .demo img {
    max-width: 100%;
  }

  .download,
  .description {
    margin-top: 40px;
  }

  .download {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  .download .instructions {
    padding: 0 1rem ;
  }

  .demo {
    margin-top: 0;
  }

  footer {
    display: block;
  }
}

.copy--small {
  margin-bottom: 10px;
  font-size: 12px;
}
